html {
    --section-background-color: linear-gradient(to bottom left, rgb(229, 229, 229), rgb(173, 216, 230));
    --image-gradient: linear-gradient(to bottom left,
            rgba(0, 0, 128, 0.678), /* Azul marino más transparente */
            rgba(0, 128, 128, 0.863)); /* Verde azulado menos transparente */
    --section-background-color-home: linear-gradient(to bottom left, rgb(255, 255, 255), rgb(173, 216, 230));
    --imp-text-color: #007080; /* Verde azulado */
}
.purple {
    color: var(--imp-text-color)   ;
}

button:focus {
    box-shadow: none   ;
}

/* --------- */
/*  Preloader */
/* --------- 
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #0c0513;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
}
*/
#preloader-none {
    opacity: 0;
}

#no-scroll {
    overflow: hidden;
    height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2d1950;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(84, 84, 0, 0.959);
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(222, 130, 235, 0.911);
    border-radius: 12px;
}

/* --------- */
/* Navbar Section  */
/* --------- */
.navbar {
    background-color: rgba(27, 26, 46, 0.5);
    /* Fondo semitransparente */
    backdrop-filter: blur(15px);
    /* Efecto de desenfoque */
    transition: all 0.3s ease;
    /* Transición suave */
    box-shadow: none;
    /* Sin sombra inicialmente */
}

.navbar-colored {
    background-color: rgba(80, 76, 136, 0.8);
    /* Fondo menos transparente al desplazarse */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Efecto de sombra */
}

.navbar {
    position: fixed   ;
    transition: all 0.3s ease-out 0s   ;
    padding: 0.3rem 2rem   ;
    font-size: 1.2rem   ;
}

.navbar-toggler {
    position: relative   ;
    background-color: transparent   ;
    border-color: transparent   ;
}

.navbar-toggler span {
    display: block   ;
    background-color: #007080   ;
    height: 4px   ;
    width: 27px   ;
    margin-top: 5px   ;
    margin-bottom: 5px   ;
    transform: rotate(0deg)   ;
    left: 0   ;
    opacity: 1   ;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0   ;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    transition: transform 0.35s ease-in-out   ;
    transition: transform 0.35s ease-in-out   ;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute   ;
    left: 12px   ;
    top: 10px   ;
    transform: rotate(135deg)   ;
    opacity: 0.9   ;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px   ;
    visibility: hidden   ;
    background-color: transparent   ;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute   ;
    left: 12px   ;
    top: 10px   ;
    transform: rotate(-135deg)   ;
    opacity: 0.9   ;
}

@media (max-width: 767px) {
    .navbar {
        padding: 1rem 2rem   ;
        font-size: 1.4rem   ;
        background-color: #181a27   ;
    }

    .navbar-nav .nav-item a::after {
        display: none   ;
    }
}

.navbar-brand {
    color: rgb(250, 250, 250)   ;
}

.logo {
    height: 1.4em   ;
    width: 2.5em   ;
}
/*cambio de color letras navbar*/
.navbar-nav .nav-link {
    color: #f1f1ef  ;
    padding-right: 1rem   ;
    padding-left: 1rem   ;
}

.fork-btn-inner {
    padding: 0.8rem 1rem;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    background-color: #007080;
    color: #ffffff;
    border: none;
}

.fork-btn-inner:hover {
    background-color: #000000;
    /* Color de fondo al pasar el cursor */
    color: #ffffff;
    /* Color del texto iluminado */
    box-shadow: 0 0 10px #ffffff;
}

@media (max-width: 767px) {
    .nav-link {
        padding: 0.7rem 1rem   ;
    }
}

.navbar-nav .nav-item {
    position: relative;
    margin-left: 20px;
}

.navbar-nav .nav-item a {
    font-weight: 400;
    transition: all 0.3s ease-out 0s;
    position: relative;
    z-index: 1;
}

.navbar-nav .nav-item a:not(.fork-btn-inner)::after {
    content: "";
    position: relative;
    display: block;
    height: 5px;
    width: 0;
    border-radius: 16px;
    background: #ffffff;
    bottom: 1px;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
    width: 100%;
}

/* --------- */
/* Home section */
/* --------- */
.wave {
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0deg);
    }
}
/*Imagenes */
/* Estilo para la columna */
.mi-columna {
    padding-bottom: 30px;
    /* Espaciado debajo */
    padding-top: 30px;
}

/* Estilo para la imagen */
.mi-imagen {
    max-height: 550px;
    /* Altura máxima */
    width: 100%;
    /* Responsiva */
    object-fit: cover;
    /* Ajusta la imagen al contenedor */
}


.home-header {
    padding-top: 100px   ;
}
.home-section {
    background: var(--section-background-color-home);
    /* Color de fondo mantenido */
    padding: 70px;
    
    
}
.home-content {
    padding: 9rem 0 2rem   ;
    color: #2f2f2f;
    text-align: left;
}

.heading {
    font-size: 2.4em   ;
    padding-left: 50px   ;
}

.heading-name {
    font-size: 2.5em   ;
    padding-left: 45px   ;
}

.main-name {
    color: #4b5320;
}

.Typewriter__wrapper {
    font-size: 2.2em   ;
    color: #4b5320   ;
    font-weight: 600   ;
}

.Typewriter__cursor {
    font-size: 2.4em   ;
    color: #2f2f2f   ;
}

@media (max-width: 767px) {
    .Typewriter__wrapper {
        font-size: 1.4em   ;
        font-weight: 500   ;
        position: absolute   ;
    }

    .Typewriter__cursor {
        display: none   ;
    }
}

.home-section {
    position: relative;
    z-index: -1;
    background:transparent, url(./Assests/home-bg.jpg);
    background-blend-mode: overlay;
    /* Permite combinar colores e imágenes */
    background-size: cover;
    background-position: center;
    padding-bottom: 30px !important;
    padding-top: 30px !important;
}
.myAvtar {
    display: flex;
    /* Usa flexbox para alinear el contenido */
    justify-content: center;
    /* Centra la imagen horizontalmente */
    align-items: center;
    /* Centra la imagen verticalmente */
    overflow: hidden;
    /* Asegura que los bordes redondeados se apliquen correctamente */
    border-radius: 20px;
    /* Suaviza las esquinas del contenedor */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Agrega una sombra para un mejor efecto */

    /* Fondo para destacar */
}

.avatar-img {
    display: block;
    border-radius: 20px;
    /* Aplica el suavizado directamente a la imagen */
    width: 100%;
    /* Asegura que la imagen sea responsiva dentro del contenedor */
    height: auto;
    /* Mantiene la proporción de la imagen */
    transition: transform 0.3s ease;
    /* Suaviza cualquier animación, como hover */
}

.avatar-img:hover {
    transform: scale(1.05);
    /* Efecto de zoom suave al pasar el mouse */
}

.home-about-section {
    position: relative;
    padding-bottom: 70px   ;
    padding-top: 70px   ;
}

.home-about-description {
    color: rgb(91, 91, 91); ;
    padding-top: 100px   ;
    padding-bottom: 20px   ;
    text-align: center;
}


.home-about-body {
    padding-top: 50px;
    font-size: 1.2em   ;
    text-align: left;
}

.home-about-social {
    text-align: center   ;
    padding-top: 25px;
    color: #556b2f   ;
}

.home-about-social-links {
    justify-content: center   ;
    padding-top: 15px   ;
    display: inline-block   ;
    position: relative   ;
    padding-inline-start: 0   ;
}

.home-social-icons {
    position: relative   ;
    display: inline-block   ;
    width: 40px   ;
    height: 40px   ;
    text-align: center   ;
    font-size: 1.2em   ;
    line-height: 2em   ;
    background: #c2c1c5 ;
    border-radius: 50%   ;
    transition: 0.5s   ;
}

.home-social-icons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #68187a;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
}

.home-social-icons:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #801f95;
    filter: blur(4px);
    /* Difuminado en hover */
}

.home-social-icons:hover {
    color: #87209e;
    box-shadow: 0 0 5px #87209e;
    text-shadow: 0 0 2px #87209e;
    filter: blur(2px);
    /* Ligero difuminado en el ícono al pasar el mouse */
}
.social-icons {
    display: inline-block   ;
    padding-right: 15px;
    padding-left: 15px;
}

.icon-colour {
    color: #700c86   ;
}

/*------------------------*/
/*---FOOTER---------------*/
/*------------------------*/
.footer {
    background-color:  #2e2e2e;
    bottom: 0   ;
    padding-top: 10px   ;
    padding-bottom: 8px   ;
}

.footer-copywright {
    text-align: center   ;
}

.footer-body {
    z-index: 1;
    text-align: center   ;
}

@media (max-width: 767px) {
    .footer-copywright {
        text-align: center   ;
    }

    .footer-body {
        text-align: center   ;
    }
}

.footer h3 {
    font-size: 1em;
    color: white   ;
    margin-top: 0.5em   ;
    margin-bottom: 0.5em   ;
}

.footer-icons {
    margin-top: 0.5em   ;
    margin-bottom: 0.5em   ;
    padding: 0   ;
}

.blockquote-footer {
    color: #a588c0   ;
}

/* --------- */
/* About */
/* --------- */

.about-section {
    position: relative;
    padding-top: 150px;
    padding-bottom: 30px;
    background-image: var(--section-background-color);
    color: rgb(91, 91, 91);
}

.tech-icons {
    font-size: 4.5em;
    margin: 15px;
    padding: 10px;
    opacity: 0.93;
    border: 1.7px solid rgba(200, 137, 230, 0.637);
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    display: table;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
    overflow: hidden;
    transition: all 0.4s ease 0s;
}

@media (max-width: 767px) {
    .tech-icons {
        margin: 10px;
    }
}
.tech-icons:hover {
    transform: scale(1.05);
    overflow: hidden;
    border: 2.2px solid rgba(197, 115, 230, 0.883);
}

.tech-icon-images {
    padding: 20px;
    line-height: 1.6;
}

.quote-card-view {
    border: none;
    color: rgb(9, 14, 81);
    background-color: transparent;
}

.about-activity {
    list-style: none;
    text-align: left;
    padding-left: 1px;
}

@media (max-width: 767px) {
    .about-img {
        padding-top: 0;
    }
}
.about-img {
    width: 50%;
    /* Tamaño reducido */
    max-width: 400px;
    /* Tamaño máximo */
    height: auto;
    /* Mantiene la proporción */
    float: right;
    /* Alinea la imagen a la derecha */
    margin-top: -120px;
    /* Mueve la imagen hacia arriba */
    margin-right: 10px;
    /* Ajusta el espacio a la derecha */
}
/*LOS PDF*/
/* styles.css */
/* Sección PDF adaptada de "resume-section" */
/* Sección PDF adaptada */
.resume-section {
    position: relative !important;
    padding-top: 10px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
    color: rgb(0, 0, 0) !important;
}

/* Contenedor principal */
.resume {
    padding-top: 50px;
    padding-bottom: 20px;
    /* Reducido de 50px a 20px */
    justify-content: center;
    text-align: center;
}

/* Botones de descarga */
.download-btn {
    margin: 20px 0;
    background-color: #934cce5e !important;
    border: 2px solid #934cce5e !important;
    padding: 10px 20px !important;
    color: white !important;
    font-size: 1.1em !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: 0.3s ease !important;
}

.download-btn:hover {
    transform: translateY(-2px) !important;
    background-color: #a24dd386 !important;
    border-color: #a24dd386 !important;
}

/* Espaciado reducido para el botón inferior */
.download-btn-bottom {
    margin-bottom: 10px !important;
    /* Ajustado a un margen inferior menor */
}

/* Contenedor del visor PDF */
.pdf-viewer-container {
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 650px;
    width: 100%;
    max-width: 1300px;
}
/* --------- */
/* Projects */
/* --------- */
.project-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
}

.project-card {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    height: auto !important;
}

.project-card-view {
    box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
    color: white !important;
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    height: 100% !important;
}

.project-card-view:hover {
    transform: scale(1.02) !important;
    overflow: hidden !important;
    box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
}


/* --------- */
/*  Preloader */
/* --------- */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: rgb(173, 216, 230);
    background-image: url(./Assests/infinite-spinner.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    /* Tamaño ajustado del SVG */
}

#preloader-none {
    opacity: 0;
}

#no-scroll {
    overflow: hidden;
    height: 100vh;
}